{{#section 'css'}}
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">

<style>
  .required {
    color: red;
  }

  .inputAlert {
    float: right;
    color: red;
    visibility: hidden;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

{{/section}}

{{#section 'js'}}
<script src="/js/slideshow.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>

<script>


  $('#txtDOB').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });


  function validPhoneNumber() {
    var isValid = true;
    var phone = $('#phone').val();
    var alert = $("#phoneAlert");
    if (phone == "" || phone.indexOf('.') != -1 || phone.indexOf(',') != -1 ||
      phone.indexOf('-') != -1 || phone.length != 10) {
      alert.css("visibility", "visible");
      isValid = false;
    }
    else {
      alert.css("visibility", "hidden");
    }

    return isValid;
  }

  function validateEmailAdress(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function validMail() {
    var isValid = true;
    var mail = $('#mail').val();
    var alert = $("#mailAlert");
    if (validateEmailAdress(mail) == false) {
      alert.css("visibility", "visible");
      isValid = false;
    }
    else {
      alert.css("visibility", "hidden");
    }

    return isValid;
  }

  function invert(date) {
    return date.split(/[/-]/).reverse().join("")
  }
  function compareDates(date1, date2) {
    return invert(date1).localeCompare(invert(date2));
  }



  function validDOB() {
    var dob = $("#txtDOB").val();
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = dd + '/' + mm + '/' + yyyy;

    var arrStartDate = dob.split("/");
    var date1 = new Date(arrStartDate[2], arrStartDate[1], arrStartDate[0]);
    var arrEndDate = today.split("/");
    var date2 = new Date(arrEndDate[2], arrEndDate[1], arrEndDate[0]);

    var isValid = true;
    var alert = $("#dobAlert");

    if (date1.getTime() > date2.getTime()) {
      isValid = false;
      alert.css("visibility", "visible");
    }
    else {
      isValid = true;
      alert.css("visibility", "hidden");
    }

    return isValid;
  }


  function validPass() {
    var pass = $("#pass").val();

    var isValid = true;
    if (pass.length == 0) {
      isValid = false;
    }
    return isValid;
  }

  function validateForm() {
    var isDOB = validDOB();
    var isPass = validPass();
    var isValid = isPass && isDOB;
    return isValid;
  }

  document.getElementById("phone").addEventListener("keyup", validPhoneNumber);
  document.getElementById("mail").addEventListener("keyup", validMail);

  function reset() {
    $("#pass").val("");
    $("#txtDOB").val("");
    $('#phone').val("");
    $('#mail').val("");
    $('#f_Name').val("");
    $('.inputAlert').css("visibility", "hidden");
  }

  $("#profileForm").on("submit", () => {
    var canSubmit = validateForm();
    if (canSubmit == false) {
      swal({
        title: 'Thông báo',
        text: 'Bạn cần phải điền đầy đủ các thông tin bắt buộc!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#DD6B55',
        confirmButtonText: 'Đồng ý',
        cancelButtonText: 'Đóng'
      }).then((result) => {
        if (result.value) {
          reset();
        } else {
        }
      });
    }
    return canSubmit;
  });


</script>

{{/section}}
<div class="col-12 text-center">
  <h6>Cập nhật thông tin tài khoản </h6>
  {{#if isFailPass}}
  <span class="text-danger">Mật khẩu không chính xác</span>
  {{/if}}
</div>

<form method="POST" id="profileForm">

  <div class="form-group">
    <label for="f_Name">Họ tên</label>
    <input class="form-control" id="f_Name" name="f_Name" placeholder="{{authUser.f_Name}}" value="" />
  </div>

  <div class="form-group">
    <label for="sdt">Số điện thoại</label>
    <span class="inputAlert" id="phoneAlert">Không hợp lệ</span>
    <input class="form-control" id="phone" type="number" placeholder="0909123123" name="f_Phone" />
  </div>

  <div class="form-group">
    <label for="mail">Email</label>
    <span class="inputAlert" id="mailAlert">Không hợp lệ</span>
    <input type="email" class="form-control" id="mail" type="email" aria-describedby="emailHelp" name="f_Email"
      placeholder="{{authUser.f_Email}}" value="" />
  </div>


  <div class="form-group">
    <label for="txtDOB">Ngày sinh</label>
    <span class="inputAlert" id="dobAlert">Không hợp lệ</span>
    <input type="text" class="form-control" id="txtDOB" name="dob">
  </div>

  <div class="form-group">
    <label for="">Xác nhận mật khẩu</label>
    <span class="required">*</span>
    <span class="inputAlert" id="passAlert">Không hợp lệ</span>
    <input type="password" id="pass" class="form-control" name="f_Password" type="text"
      placeholder="Mật khẩu hiện tại" />
  </div>

  <button id="btn-alert" type="submit" class="btn btn-danger mt-3 mb-3">
    Cập nhật
  </button>
</form>
</div>