{{#section 'css'}}
 <link rel="stylesheet" href="/css/style.css" type="text/css" />
{{/section}}
<div class=" shadow">
  <h4 class="card-header">
    <i class="fa fa-home" aria-hidden="true"></i>
    Profile
  </h4>
  <div class="card-body">
    Sinh viên tự tsc hiện.
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>