<form method="POST">
    <div class="form-group">
        <label for="Mess">Lời nhắn cho admin</label>
        <textarea class="form-control" id="Mess" rows="2" name="Mess"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Gửi</button>
</form>