<html>

<div class="text-view-all">
    <h4>Tất cả sản phẩm</h4>
</div>

<div class=""><sub>Xem chi tiết</sub></div>

<div class="row all-product">

    {{#each productData.allProductArr}}
    <div class="col-6 col-sm-4 col-md-3 col-lg-3 border  hvr-glow ">
        <div class="center">
            <div class="card-container-2">
                <img src="{{this.imageSrc}}" alt="" />
                <div class="content">
                    <h2>{{this.productTitle}}</h2>
                    <p class="imgTit cd"></p>
                    <p class="price"><i class="fa fa-gavel" aria-hidden="true"> {{this.productPrice}}</i></p>
                    <p class="buy-now">Giá mua ngay: <code>{{this.currenPrice}}</code></p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</div>

<nav class="d-flex mr-2 justify-content-center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="product_detail.html">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>

</html>