<html>

<div class="cata">
    <div class="d-flex justify-content-center">
        <div class="d-inline">
            <a href="/category" class="neon-btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fa fa-camera-retro" aria-hidden="true"></i> Laptop - Thiết
                bị IT</a>
        </div>

        <div class="d-inline">
            <a href="/category" class="neon-btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fas fa-paw"></i> Thú cưng
            </a>
        </div>

        <div class="d-inline">
            <a href="/category" class="neon-btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fas fa-male"></i> Thời trang
            </a>
        </div>

        <div class="d-inline">
            <a href="/category" class="neon-btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fab fa-discord"></i> Đồ gia dụng
            </a>
        </div>

        <div class="d-inline">
            <a href="/category" class="neon-btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fas fa-music"></i> Nhạc cụ
            </a>
        </div>
    </div>
</div>

</html>