<html>
<div class="form-popup" id="myForm">

    <form action="" class="form-container">
        <i class="fas fa-window-close fa-3x close-icon" onclick="closeLoginForm()"></i>
        <h1>Đăng nhập</h1>
        <div class="email">
            <p>Email / SDT :</p>
            <input type="text" placeholder="Nhập Email hoặc Số điện thoại" />
        </div>
        <div class="password">
            <p>Mật khẩu :</p>
            <input type="text" placeholder="Mật khẩu từ 6 đến 32 ký tự" />
        </div>

        <div class="forgot-password">
            <a href="#">Quên mặt khẩu? </a>
        </div>

        <div class="login main-login">
            <p>Đăng nhập</p>
        </div>

        <div class="login login-facebook">
            <i class="fab fa-facebook-square fa-lg"></i>
            <p>Đăng nhập bằng Facebook</p>
        </div>

        <div class="login login-google">
            <i class="fab fa-google-plus-g fa-lg"></i>
            <p>Đăng nhập bằng Google</p>
        </div>
    </form>
</div>

</html>