<html>

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="http://localhost:3000/">
    <img src="../assets/image/logoo.png" height="200px" width="200px" alt="logo" /></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Tìm kiếm sản phẩm, danh mục" aria-label="Search" />
      <button class="btn btn-outline-success " type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link glowing-btn" href="#">Giỏ hàng</a>
      </li>
      <li class="nav-item">
        <a class="nav-link glowing-btn" href="#">Phiên đấu giá của tôi</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle glowing-btn" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Danh mục
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/category">Tất cả</a>
          <a class="dropdown-item" href="/category">Điện tử</a>
          <a class="dropdown-item" href="/category">Thú cưng</a>
          <a class="dropdown-item" href="/category">Đồ gia dụng</a>
          <a class="dropdown-item" href="/category">Nhạc cụ</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/category">Các sản phẩm khác</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link glowing-btn" href="#" onclick="openLoginForm()">Đăng nhập</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="openSignUpForm()">Đăng ký</a>
      </li>
    </ul>
  </div>
</nav>

</html>