<html>

<div class="noboder color">
    <div class="slider-area color one">
        <div><img class="img-fluid" src="../assets/logoEA/banner-2.jpg" /></div>
        <div><img class="img-fluid" src="../assets/logoEA/banner-3.jpg" /></div>
        <div>
            <img class="img-fluid" src="../assets/logoEA/banner-4.jpg" />
        </div>
        <div>
            <img class="img-fluid" src="../assets/logoEA/banner-5.jpg" />
        </div>
        <div>
            <img class="img-fluid" src="../assets/logoEA/banner-6.jpg" />
        </div>
    </div>
</div>

</html>