<html>
<div class="top-product">
    <div class="title">
        <h4>Top 5 sản phẩm có nhiều lượt ra giá nhất</h4>
    </div>
    <div class="">
        <p class="view-detail-text">Xem chi tiết</p>
    </div>
    <div class="row row-product">
        <div class="col-12">
            <div class="responsive">
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 border  hvr-glow ">
                    <div class="card-container" data-tilt>
                        <div class="card" id="item-1-card">
                            <div class="img-box">
                                <img src="../assets/image/1.jpg" alt="" />
                            </div>
                            <div class="content">
                                <p class="img-title">Chuột Không Dây Logitech M330</p>
                                <p class="imgTit cd"></p>
                                <p class="imgTit price">
                                    <i class="fa fa-gavel" aria-hidden="true">
                                        20.000.000₫</i>
                                </p>
                                <p class="buy-now">
                                    Giá mua ngay: <span>200.000.000.000₫</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-3 col-lg-3 border  hvr-glow ">
                    <div class="card-container" data-tilt>
                        <div class="card" id="item-2-card">
                            <div class="img-box">
                                <img src="../assets/image/2.jpg" alt="" />
                            </div>
                            <div class="content">
                                <p class="img-title">Chuột Không Dây Logitech M330</p>
                                <p class="imgTit cd"></p>
                                <p class="imgTit price">
                                    <i class="fa fa-gavel" aria-hidden="true">
                                        20.000.000₫</i>
                                </p>
                                <p class="buy-now">
                                    Giá mua ngay: <span>200.000.000.000₫</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-3 col-lg-3 border  hvr-glow ">
                    <div class="card-container" data-tilt>
                        <div class="card" id="item-3-card">
                            <div class="img-box">
                                <img src="../assets/image/3.jpg" alt="" />
                            </div>
                            <div class="content">
                                <p class="img-title">Chuột Không Dây Logitech M330</p>
                                <p class="imgTit cd"></p>
                                <p class="imgTit price">
                                    <i class="fa fa-gavel" aria-hidden="true">
                                        20.000.000₫</i>
                                </p>
                                <p class="buy-now">
                                    Giá mua ngay: <span>200.000.000.000₫</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3 col-lg-3 border  hvr-glow ">
                    <div class="card-container" data-tilt>
                        <div class="card" id="item-4-card">
                            <div class="img-box">
                                <img src="../assets/image/4.jpg" alt="" />
                            </div>
                            <div class="content">
                                <span class="img-title">Chuột Không Dây Logitech M330</span>
                                <p class="imgTit cd"></p>
                                <p class="imgTit price">
                                    <i class="fa fa-gavel" aria-hidden="true">
                                        20.000.000₫</i>
                                </p>
                                <p class="buy-now">
                                    Giá mua ngay: <span>200.000.000.000₫</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-sm-4 col-md-3 col-lg-3 border  hvr-glow ">
                    <div class="card-container" data-tilt>
                        <div class="card" id="item-5-card">
                            <div class="img-box">
                                <img src="../assets/image/5.jpg" alt="" />
                            </div>
                            <div class="content">
                                <p class="img-title">Chuột Không Dây Logitech M330</p>
                                <p class="imgTit cd"></p>
                                <p class="imgTit price">
                                    <i class="fa fa-gavel" aria-hidden="true">
                                        20.000.000₫</i>
                                </p>
                                <p class="buy-now">
                                    Giá mua ngay: <span>200.000.000.000₫</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

</html>