<form method="POST">
    <label for="CatID"> Chọn danh mục</label>
    <select name="CatID" class="form-control form-control-sm">
        <option value="2">Điện thoại</option>
        <option value="3">Máy tính bảng</option>
        <option value="5">Tivi</option>
        <option value="6">Guitar</option>
        <option value="7">Thú cưng</option>
    </select>
    <button type="submit" class="btn btn-lg btn-success btn-block">
        <i class="fa fa-check" aria-hidden="true"></i>
        Tiếp tục
    </button>
</form>