<html>

{{!-- Navigation bar --}}
{{> navbar}}

<!-- Login Form -->
{{> login}}

<!-- Sign up Form -->
{{> sign-up}}

{{!-- Catalog --}}
{{> catalog}}

{{!-- Slider --}}
{{> slider}}

{{!-- Main container --}}
<div class="container-fluid">

  {{!-- Top nearly finished products --}}
  {{> nearly-finish-product}}

  {{!-- Top offered products --}}
  {{> top-bid-product}}

  {{!-- Top price products --}}
  {{> top-price-product}}

  {{!-- All products --}}
  {{> all-product}}

</div>

{{!-- Footer --}}
{{>footer}}

</html>