<html>

{{!-- Navigation bar --}}
{{> navbar}}

<!-- Login Form -->
{{> login}}

<!-- Sign up Form -->
{{> sign-up}}

{{!-- Catalog --}}
{{> catalog}}

<div class="mt-3 ml-5">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="text-dark" href="index.html">Trang chủ</a>
        </li>
        <li class="list-inline-item">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
        <li class="list-inline-item">
            <a class="text-danger" href="laptop.html">Quản lí tài khoản</a>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-3 border-right">
            <div class="row">
                <span class="m-3 ">Tài khoản của <code>longhofit</code></span>
            </div>
            <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item">
                    <a class="text-dark " href="account.html">Thông tin tài khoản</a>
                </li>
                <li class="list-group-item">
                    <a class="text-dark" href="feedback.html">Đánh giá dành cho bạn</a>
                </li>
                <li class="list-group-item">
                    <a class="text-danger" href="watchlist.html">Sản phẩm yêu thích</a>
                </li>
                <li class="list-group-item">
                    <a class="text-dark" href="bidding.html">Sản phẩm bạn đang đấu giá
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="text-dark" href="winproduct.html">Sản phẩm đã thắng </a>
                </li>
                <li class="list-group-item">
                    <a class="text-dark" href="request.html">Yêu cầu trở thành seller
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-9 mt-3">
            <div class="d-flex justify-content-center mb-4">
                <h6>Danh sách sản phẩm bạn yêu thích</h6>
            </div>

            <a href="product_detail.html">
                <div class="row border-bottom border-top">
                    <div class="col-4 ">
                        <img class="img-fluid" src="../assets/image/6.jpg" alt="" />
                    </div>
                    <div class="col-8 d-flex flex-column justify-content-center">
                        <span class="text-dark ">Chuột Không Dây Logitech M330</span>

                        <span class="text-dark imgTit">
                            <i class="fa fa-gavel" aria-hidden="true"> 1.200.000.000₫</i>
                        </span>
                        <small class="text-dark">15 lượt ra giá</small>
                        <small class="text-dark">
                            Ngày đăng: <code>09/09/2019</code></small>
                        <span class="text-dark"><small>Giá mua ngay: <code>2.000.000.000₫</code></small></span>

                        <small class="text-dark">Current winner:
                            <code>longhofit12 (12 <i class="fas fa-star"></i>)</code></small>
                    </div>
                </div>
            </a>

            <a href="product_detail.html">
                <div class="row border-bottom ">
                    <div class="col-4 ">
                        <img class="img-fluid" src="../assets/image/4.jpg" alt="" />
                    </div>
                    <div class="col-8 d-flex flex-column justify-content-center">
                        <span class="text-dark ">Chuột Không Dây Logitech M330</span>

                        <span class="text-dark imgTit">
                            <i class="fa fa-gavel" aria-hidden="true"> 1.200.000.000₫</i>
                        </span>
                        <small class="text-dark">15 lượt ra giá</small>
                        <small class="text-dark">
                            Ngày đăng: <code>09/09/2019</code></small>
                        <span class="text-dark"><small>Giá mua ngay: <code>2.000.000.000₫</code></small></span>

                        <small class="text-dark">Current winner:
                            <code>longhofit12 (12 <i class="fas fa-star"></i>)</code></small>
                    </div>
                </div>
            </a>

            <a href="product_detail.html">
                <div class="row border-bottom ">
                    <div class="col-4 ">
                        <img class="img-fluid" src="../assets/image/5.jpg" alt="" />
                    </div>
                    <div class="col-8 d-flex flex-column justify-content-center">
                        <span class="text-dark ">Chuột Không Dây Logitech M330</span>

                        <span class="text-dark imgTit">
                            <i class="fa fa-gavel" aria-hidden="true"> 1.200.000.000₫</i>
                        </span>
                        <small class="text-dark">15 lượt ra giá</small>
                        <small class="text-dark">
                            Ngày đăng: <code>09/09/2019</code></small>
                        <span class="text-dark"><small>Giá mua ngay: <code>2.000.000.000₫</code></small></span>

                        <small class="text-dark">Current winner:
                            <code>longhofit12 (12 <i class="fas fa-star"></i>)</code></small>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row d-flex justify-content-end mt-2">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span class="text-dark">Pre</span>
                </a>
            </li>
            <li class="page-item ">
                <a style="background-color: rgb(173, 50, 50);" class="page-link text-light" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link text-dark" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link text-dark" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span class="text-dark">Next</span>
                </a>
            </li>
        </ul>
    </div>
</div>

{{!-- Footer --}}
{{>footer}}

</html>